<extend file="/Admin/View/Common/admin.html"/>

<block name="content">
    <div class="block-area" >
        <h3 class="block-title">微信账号列表</h3>
        <div class="table-responsive overflow">
            <table id="table" class="table table-bordered table-hover tile">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon</td>
                    <td>Makinton</td>
                    <td>@makinton</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function () {
            $('#table').dataTable({});
        });
    </script>

</block>